<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">App name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="light">
    <ion-card-header>
      <ion-img class="ion-no-padding ion-no-margin"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJCeYSDfUPafJmPX12bjz5iQ5eoKGIR0Cv12IsMyK0Z1xsGVex"
      ></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>App name</ion-card-title>
      <ion-card-subtitle>A good slogan</ion-card-subtitle>
      <ion-button color="tertiary" class="ion-margin" (click)="loginPanel()" tab="signIn">
        <ion-label>Sign in</ion-label>
      </ion-button>
      <ion-button color="primary" (click)="signUpPanel()" tab="signUp">
        <ion-label>Sign up</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card color="light" (click) = "gallery()" button="true">
    <ion-card-header>
      <ion-card-title>Gallery</ion-card-title>
      <ion-card-subtitle>Our works</ion-card-subtitle>
      <ion-card-content>
        <ion-img src="https://media.istockphoto.com/vectors/kids-jumping-with-joy-happy-jumping-kids-happy-cartoon-child-playing-vector-id1021778728"></ion-img>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
